<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
	<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=mobiledb;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="Himical.Properties.Settings.ConnectionString" connectionString="Data Source=DESKTOP-CBMHQE6;Initial Catalog=ProductsDb;Integrated Security=True;Encrypt=False" providerName="System.Data.SqlClient" />
 <add name="ProductsDbEntities" connectionString="metadata=res://*/Database.csdl|res://*/Database.ssdl|res://*/Database.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-CBMHQE6;initial catalog=ProductsDb;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>